@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(25, 19, 71);
    background: linear-gradient(52deg, rgb(32, 24, 88) 0%, rgba(45, 253, 247, 1) 100%);
}

.jumbo {
    background: rgba(0, 0, 0, 0.8) url(img/FTK.jpg);
    background-blend-mode: darken;
    color: #fff;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 65px;
    font-family: 'MedievalSharp', cursive;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 1)85%, rgba(0, 0, 0, 0.8));
    justify-content: space-between;
}

.logo {
    padding: 20px 36px;
    border: 3px solid white;
    height: 30px;
    line-height: 30px;
    color: white;
    border: none;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
}

.menu {
    padding: 15px 25px;
    /* border-left: 1px solid white; */
    text-align: center;
    height: 50px;
    line-height: 50px;
}

a.link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    transition: all;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

a.link:hover {
    transition: all;
    background-color: gray;
    transition: ease-in-out;
    transition-duration: 0.5s;
    font-weight: bolder;
}

footer {
    text-align: center;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: rgb(51, 51, 51);
    color: rgb(179, 179, 179);
    line-height: 50px;
}


.container {
    display: flex;
    margin: 10px;
}

.text {
    width: 100%;
    margin-left: 5px;
    padding: 10px;
    background-color: rgb(206, 238, 237);
    font-weight: bolder;
    border: 2px solid rgb(97, 103, 107);
    border-radius: 5px;
}

.bio {
    border: 2px solid black;
    border-radius: 5px;
    background-image: url(img/Yuda.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
}

.quotes {
    text-align: center;
}

.menus {
    text-align: center;
    display: flex;
}

.text-center {
    text-align: center;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.adi {
    border: 2px solid black;
    border-radius: 5px;
    background-image: url(img/IMG-20200907-WA0013.jpg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
}

.dipa {
    border: 2px solid black;
    border-radius: 5px;
    background-image: url(img/dipa.jpeg);
    background-size: cover;
    width: 250px;
    height: 300px;
}

.Aji {
    border: 2px solid black;
    border-radius: 5px;
    background-image: url(img/Aji.jpeg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
}